# 🏆 PRECISE-Africa Breast Ultrasound Segmentation and Classification Challenge (PACE)  
## 📊 Validation Phase Leaderboard

| 🧑‍🤝‍🧑 Team / Individual | 🧬 **DSC (Lesion) ⬆️**     | 📊 **IoU ⬆️**             | 📏 **NSD ⬆️**            | 🧭 **HD95 ⬇️**              | 📈 **AUC ⬆️**  |
|--------------------------|----------------------------|---------------------------|---------------------------|-----------------------------|----------------|
| **EbimoJohnny**          | 0.8911255583108411         | 0.8198084188001891        | 0.10553494328872758       | 24.00853550527978           | 0.954001       |
| **ViktorOnyedim**        | 0.8386568622870437         | 0.7604891609154847        | 0.09120947581327227       | 32.76816980217845           | 0.906444       |
| **Team 3**               | -                          | -                         | -                         | -                           | -              |
| **Team 4**               | -                          | -                         | -                         | -                           | -              |
| **Team 5**               | -                          | -                         | -                         | -                           | -              |

> 🚧 **Leaderboard will start updating soon as validation results are submitted.**  
> ⬆️ Higher is better  ⬇️ Lower is better  
> 📌 *Final rankings will be based on Test Phase performance.*
